sanchecker/inactive_0to100k_phase2_crawl
sanchecker/inactive_notemplate_phase*
sanchecker/record_inactive_notemplate_phase*

sanchecker/src/inactive_0to100k_phase*
sanchecker/src/inactive_notemplate_phase*

analysis/phase1/__pycache__/*
analysis/phase2/__pycache__/*
analysis/phase3/__pycache__/*
analysis/phase4/__pycache__/*
analysis/db/__pycache__
analysis/db/myenv/*

analysis/phase1/logs/*
analysis/phase2/logs/*
analysis/phase3/logs/*
analysis/phase4/logs/*
analysis/phase1/output/*
analysis/phase2/output/*
analysis/phase3/output/*
analysis/phase4/output/*

analysis/phase2/myenv/*

*.env