.vscode/*
*/.vscode/*
*/__pycache__/*

analysis/mongodb/*

analysis/db/myenv/*
analysis/db/env_cloud/*
analysis/db/server*

analysis/*/logs/*
analysis/*/output/*

external/persistent-clientside-xss/taintchrome/chrome/*

sanchecker/inactive_0to100k_phase2_crawl
sanchecker/inactive_notemplate_phase*
sanchecker/record_inactive_notemplate_phase*
sanchecker/inactive_0to100k_phase*

sanchecker/src/inactive_0to100k_phase*
sanchecker/src/inactive_notemplate_phase*

sanchecker/*


*.env
*.log
*.txt
*_log
*.pyc
*.pak
*.zip
*.json